*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-sign {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container-sign main {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5rem;
}

.container-sign main .client .image-sign img {
    width: 40%;
    margin-top: 5rem;
}

.container-sign main .pharmacie .image-sign img {
    width: 25%;
    margin-top: 5rem;
}

.container-sign main .client .h1-sign, .pharmacie .h1-sign {
    margin-top: 2rem;
}

.container-sign main .client .p-sign, .pharmacie .p-sign {
    display: flex;
    text-align: center;
    margin-top: 2rem;
    padding: 0 10% 0 10%;
}

.container-sign main .client, .pharmacie {
}

.container-sign main .pharmacie {
    background-color: rgb(83, 231, 83);
}

.button-pharmacie {
}
.container-sign main .button-sign {
    border-radius: 5px;
    margin-top: 2rem;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: #e67e22;
    color: #ffffff;
    cursor: pointer;
}
@media screen and (max-width:950px){
    .container-sign main {
        display: grid;
    }
    .pharmacie {
        padding-bottom: 10%;
    }
    .container-sign main .client .p-sign, .pharmacie .p-sign {
        padding: 0 5% 0 5%;
    }
}

@media screen and (min-width:750px){
}