@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.med,.medoc {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 60px 140px;
    font-family: 'Poppins';
}
.all-content {
    display: grid;
    margin: 35px 30px;
}
.all-h1 {
    display: flex;
    margin: 0 30px;
}

.med img, .medoc img {
    max-width: 200px;
}

#medoc_area_all {
    display: grid;
    margin: 30px 30px;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.med-content {
    display: grid;
    padding: 20px 20px;    
}
.med-content p {
    margin: 10px 0;
}
.med-content button {
    margin: 20px 0;
    padding: 10px 25px;
    border: none;
    background-color: #6C63FF;
    border-radius: 5px;
    color: white;
}
.medoc-content button, .del-medoc {
    margin: 20px 0;
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    background-color: #6C63FF;
    border-radius: 5px;
    color: white;
}
.see-btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    border: none;
    background-color: #6C63FF;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 580px) {
    .med {
        display: grid;
    }
    .medoc {
        display: grid;
    }
    #medoc_area_all {
        grid-template-columns: 1fr;
    }
}